################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/BinToCsv/x64
/BinToCsvTest/x64
/CsvToBin/x64
/CsvToBinTest/x64
/Model/x64
/ModelTest/x64
BinToCsv.pdb
BinToCsvTest.dll
BinToCsvTest.exp
BinToCsvTest.lib
BinToCsvTest.pdb
CsvToBin.pdb
CsvToBinTest.dll
CsvToBinTest.exp
CsvToBinTest.lib
CsvToBinTest.pdb
ModelTest.dll
ModelTest.exp
ModelTest.lib
ModelTest.pdb
