################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/BinToCsv/x64
/BinToCsvTest/x64
/CsvToBin/x64
/CsvToBinTest/x64
/Model/x64
/ModelTest/x64
/x64/Debug/BinToCsv.pdb
/x64/Debug/BinToCsvTest.dll
/x64/Debug/BinToCsvTest.exp
/x64/Debug/BinToCsvTest.lib
/x64/Debug/BinToCsvTest.pdb
/x64/Debug/CsvToBin.pdb
/x64/Debug/CsvToBinTest.dll
/x64/Debug/CsvToBinTest.exp
/x64/Debug/CsvToBinTest.lib
/x64/Debug/CsvToBinTest.pdb
/x64/Debug/ModelTest.dll
/x64/Debug/ModelTest.exp
/x64/Debug/ModelTest.lib
/x64/Debug/ModelTest.pdb
